NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1
FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=pc_configurator_pro

SESSION_SECRET=replace_with_long_random_session_secret
JWT_ACCESS_SECRET=replace_with_long_random_access_secret
JWT_REFRESH_SECRET=replace_with_long_random_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

BCRYPT_ROUNDS=12
